.custom-input{ 
    transition: 100ms;
    text-decoration: none;
    border: 1px solid rgb(213, 213, 213) ;
    
    padding: .5rem 2rem;
    outline: none;
}
/* .input-container{
   
    
} */
.custom-input:focus{
    outline: 1px solid rgb(163, 163, 163) !important;

    
}
